<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

    <!-- Servlets -->
<!--
    <servlet>
        <servlet-name>com.gwt.test.Travel TravelService</servlet-name>
        <servlet-class>com.gwt.test.server.TravelPlacesServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>com.gwt.test.Travel TravelService</servlet-name>
        <url-pattern>/travel/places</url-pattern>
    </servlet-mapping>
-->

    <!--GUICE SERVLET FILTER-->
    <filter>
        <filter-name>guiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>guiceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--GUICE LISTENER-->
    <listener>
        <listener-class>com.gwt.test.server.config.MyGuiceServletConfig</listener-class>
    </listener>

</web-app>
